<div class="card">
  <div class="card-body">
    <div>
    <h3 class="card-title">{{title}}</h3>
    <p class="card-text">{{content}}</p>
    <div>Post By: {{user.username}} On {{format_date created_at}}</div>
    </div>
  </div>
</div>
<div class="card-footer" id="cardfooter">
  <button type="button" class="btn btn-success" onclick="window.location.href='/post/{{id}}/edit'" >Edit Blog</button>
  <button type="button" class="btn btn-success del-btn"  data-blogId={{id}}>Delete Blog</button>
</div>
<script src="/js/updatapost.js"></script>